# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Test outputs
.pytest_cache/
*.egg-info/
results/test*
results/psd_*
results/focused_*
results/out
results/signal_0_gaps
sub_dir
logs
plots